html,body
{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background:#121212;
  color: #DBDBDB !important;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: transparent !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.border-light-shadow
{
  border-bottom: 1px solid rgba(0, 0, 0, 0.418);
  border-top: 1px solid rgba(255, 255, 255, 0.185);
}

.reverse-border-light-shadow
{
  border-bottom: 1px solid rgba(255, 255, 255, 0.185);
  border-top: 1px solid rgba(0, 0, 0, 0.418);
}

.item-list
{
  display: flex;
  flex-flow: row wrap;
  padding-left: 1rem;
  margin: 0px;
  justify-content: center;
}

.item-list div
{
  padding: 3.2% 3.2% 0px 0px;
  display: block;
  flex: 1 1 25%;
  max-width: 25%;
  min-width: 0px;
  box-sizing: border-box;
}

.item-list .single-summon
{
  /* padding: 3.2% 3.2% 0px 0px; */
  display: block;
  flex: 1 1 60%;
  max-width: 60%;
  margin: 0 auto;
  min-width: 0px;
  box-sizing: border-box;
}

.item-list div .name
{
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  max-width: 100%;
  background-color: #121212;
  border-radius: 3px;
  margin-top: .4rem;
  padding: 0px .5rem;
  display: inline-block;
  color: white;
  white-space: nowrap;
  font-size: .8rem;
  width: 100%;
  font-family: sans-serif;
  font-weight: 800;
  letter-spacing: 0.08em;
  text-overflow: ellipsis;
  font-style: italic;
}

.item-list .single-summon .name
{
  padding: .5rem 1rem;
  font-size: 1.35rem;
  margin-top: 1rem;
  width: 100%;
  
}

.item-list div > .image-container
{
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  background-size: calc(10% - .1px) calc(10% - .1px);
  background-color: #121212;
}

.item-list div > .image-container::before
{
  content: "";
  display: inline-block;
  padding-top: 90%;
}

.item-list li span
{
  position: absolute;
}

.item-list li
{
  position: relative;
  width: 16.666%;
  margin-right: .5rem;
  margin-top: .5rem;
}

.item-list li .quantity
{
  position: absolute;
  left: .5rem;
}

.item-list li .icon
{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgb(30,30,30);
  border-radius: 3px;
}

.item-list li::before
{
  content: "";
  display: inline-block;
  padding-top: 100%;
}

.modal-content
{
  border-radius: 3px !important;
  background-color: #222222 !important;
}

.container-fluid
{
  max-width: 1140px;
}

.shadow
{
  -webkit-box-shadow: 0px 6px 10px 0px rgb(0 0 0 / 36%);
  -moz-box-shadow: 0px 6px 10px 0px rgb(0 0 0 / 36%);
  box-shadow: 0px 6px 10px 0px rgb(0 0 0 / 36%);
}

.image-container
{
  position: relative;
}

.image-container img 
{
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.secondary-color
{
  color: #656565;
}

.backdrop.show
{
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.356);
  z-index: 10000001;
}

.slider-right.show
{
  transform: translateX(0);
}

.slider-right
{
  background-color: #2D2D2D;
  transform: translateX(100%);
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.close-button
{
  position: absolute;
  left: 0;
  top: 0;
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}

.close-button::before,
.close-button::after
{
  content: "";
  border-radius: 200px;
  display: inline-block;
  width: 100%;
  height: 5px;
  background-color: #DBDBDB;
  cursor: pointer;
  position: absolute;
  top: 0;
}

.close-button::after
{
  transform:translateY(275%) rotate(45deg);
}

.close-button::before
{
  transform:translateY(275%) rotate(-45deg);
}

.container-fluid {
  /* padding-bottom: 60px; */
}

a
{
  text-decoration: none;
  color: #DBDBDB !important;
}

a:hover
{
  text-decoration: none;
}

/* PSEUDO-BODY */
.pseudo-body
{
  padding-top: 50px;
  padding-bottom: 50px;
  box-sizing: border-box;
}

/* NAVBAR */
#navbar-bottom .collect-timer
{
  position: absolute;
  top: 0px;
  left: unset;
  transform: unset;
  right: 5px;
}

#navbar-top ul
{
  display: flex;
  flex-flow: row nowrap !important;
}

#navbar-top li
{
  display: flex !important;
  align-items: center;
  box-sizing: border-box;
  padding: 0px .8rem;
  width: 110px !important;
  max-width: 110px;
}

.c-inventory li span:last-child
{
  text-align: end;
  width: 100%;
  line-height: 10px;
  padding: 0.4rem;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.432);
  height: 10px;
  box-sizing: content-box;
}

#navbar-bottom span
{
  position: absolute;
  bottom: 9px;
  left: 50%;
  transform: translateX(-50%);
  font-size: x-small;
  line-height: 10px;
}

#navbar-bottom .icon::after
{
  top: 18px;
}

.c-inventory li span 
{
  display: inline-block;
  line-height: 48px;
}

.c-inventory .icon
{
  width: 0px;
  margin-right: -18px;
  height: 48px;
}

#navbar-bottom,
#navbar-top
{
  height: 48px;
  width: 100%;
  position: fixed;
  left: 0px;
  right: 0px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  background: #1F1F1F;
  z-index: 1000001;
}

#navbar-top
{
  top: 0px;
  border-bottom: 2px solid rgba(51, 51, 51, 0.25);
  justify-content: space-between;
}

#navbar-bottom
{
  bottom: 0px;
  border-top: 2px solid rgba(51, 51, 51, 0.25);
}

#navbar-bottom .hover,
#navbar-top .hover
{
  cursor: pointer;
  display: inline-block;
  line-height: 48px;
  width: 60px;
  height: 48px;
  text-align: center;
  transition: color 300ms cubic-bezier(0.06, 0.81, 0, 0.98);
  vertical-align: middle;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

#navbar-bottom .hover:hover,
#navbar-top .hover:hover
{
  background-color: rgb(26, 26, 26);
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

/* HOME */
.c-opponent-data
{
  width: 100%;
  padding: .5rem 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: rgb(30,30,30);
  border-radius: 10px;
  cursor: pointer;
  transition: border-color .1s cubic-bezier(0.39, 0.575, 0.565, 1),background .1s cubic-bezier(0.39, 0.575, 0.565, 1), color .1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.c-opponent-data:hover
{
  background-color: rgba(30, 30, 30, 0.438);
  border-top-color: rgba(255, 255, 255, 0.096);
  border-bottom-color: rgba(0, 0, 0, 0.562);
  color: #dbdbdbc9;
}

.c-opponent-data .icon
{
  padding: 0px .5rem;
}

.c-opponent-data .username
{
  display: inline-block;
  white-space: nowrap;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 900;
  letter-spacing: 0.08em;
  text-overflow: ellipsis;
  line-height: 25px;
}

.c-challenge .c-header
{
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  background-color: rgb(30,30,30);
  border-radius: 5px;
}

.c-header .title
{
  font-size: 2rem;
  white-space: nowrap;
  font-family: sans-serif;
  font-weight: 800;
  letter-spacing: 0.08em;
  text-overflow: ellipsis;
  /* font-style: italic; */
}

.c-team
{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-left: 1rem;
}

.c-team li
{
  padding-right: 1rem;
  padding-top: 1rem;
  width: 33.33%;
  max-width: 100%;
  box-sizing: border-box;
}

.c-team .image-container 
{
  position: relative;
  width: 100%;
  display: inline-block;
  background-size: calc(10% - .1px) calc(10% - .1px);
  background-color: rgb(30,30,30);
}

.c-team li > span {
  cursor: pointer;
}

.c-team .image-container .question-none
{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 8vw;
}

.c-team .image-container::before
{
  content: "";
  display: inline-block;
  padding-top: 80%;
}

.c-team .level
{
  background-color: rgb(30,30,30);
  width: 100%;
  display: inline-block;
  margin-top: 10px;
  border-radius: 10px;
  padding: .1rem 1rem;
  text-align: center;
}

.empty div
{
  font-size: 3rem;
  /* color: rgb(94, 94, 94); */
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgb(31, 31, 31);
  cursor: pointer;
}

/* HEROS */
#heroes
{
  position: relative;
}

.c-ascend-hero
{
  width: 100%;
  max-width: 250px;
  height: 155px;
  margin: 0 auto;
  padding: 1rem;
  padding-right: 0px;
  display: flex;
}

.ascend-hero
{
  width: 45%;
  display: flex;
  align-items: flex-end;
}

.ascend-hero::before
{
  content: "";
  display: inline-block;
  padding-top: 90%;
}

.c-ascend-fodder
{
  width: 55%;
  padding-left: 1rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.c-ascend-fodder > div
{
  width: 50%;
  padding-right: .5rem;
}

.c-ascend-fodder > div > .image-container,
.ascend-hero .image-container
{
  display: inline-block;
  width: 100%;
  background: #181818;
  background-size: calc(20% - 0.2px) calc(20% - 0.2px);
  cursor: pointer;
}

.c-ascend-fodder > div > .image-container.tier-none,
.ascend-hero .image-container.tier-none
{
  cursor: default;
}

.c-ascend-fodder > div > .image-container::before,
.ascend-hero .image-container::before
{
  content: "";
  display: inline-block;
  padding-top: 100%;
}

.c-heroes
{
  padding: 0px 0px 0px 3.2%;
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0px auto;
  padding-top: 55px !important;
}

.heroes-bar.ascend
{
  height: 200px;
}

.c-heroes.ascend
{
  padding-top: 200px !important;
}

.heroes-bar
{
  left: 0;
  right: 0;
  top: 48px;
  height: 55px;
  position: fixed;
  z-index: 1;
  background-color: #121212;
  transition: height 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.c-ascend {
  margin: 0 auto;
  margin-top: .5rem;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.384);
  padding: 0.1rem;
  border-radius: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.178);
  box-sizing: content-box;
}

.c-ascend span
{
  display: block;
  width: 100px;
  border-radius: 5px;
  background-color: #242424;
  text-align: center;
  font-weight: 700;
  padding: .25rem 0px;
  cursor: pointer;
  transition: background-color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94),
              color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94),
              border-color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.c-ascend.pressed
{
  background-color: rgba(0, 255, 34, 0.384);
}
.c-ascend.pressed span
{
  transform: translateX(50px);
}

.c-heroes .image-container
{
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  background: #1E1E1E;
  background-size: calc(10% - .1px) calc(10% - .1px);
}

.c-heroes .image-container::before
{
  content: "";
  display: inline-block;
  padding-top: 112%;
  background-color: blue;
}

.c-heroes .image-container::after
{
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 11%;
  padding-top: 11%;
  background-color: #121212;
  border: 1px solid #777777;
  transition: transform 0.5s ease 0s;
  transform: translate(50%, -50%) rotate(45deg);
}

.c-heroes div:hover .image-container::after
{
  transform: translate(100%, -100%) rotate(45deg);
}

.c-heroes img,
.info-image img
{
  transform: scale3d(1.05, 1.05, 1);
  transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.c-heroes div:hover img
{
  transform: scale3d(1.001, 1.001, 1);
}

.c-heroes .name
{
  display: block;
  overflow: hidden;
  background-color: #1E1E1E;
  padding: 6% 8%;
  transition: background-color 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.c-heroes div:hover .name
{
  background-color:#363636;
}

.c-heroes div:hover .name span
{
  transform: translate(10px, 0px);
}

.c-heroes .name span
{
    text-transform: uppercase;
    display: inline-block;
    white-space: nowrap;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 800;
    letter-spacing: 0.08em;
    text-overflow: ellipsis;
    font-style: italic;
    width: 100%;
    transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.c-heroes .level
{
  position: absolute;
  font-weight: bold;
  left: 5px;
  top: 1px;
  line-height: 1rem;
}

.c-heroes > div
{
  transition-delay: 0ms;
  opacity: 1;
  transform: translate(0px, 0px);
  padding: 3.2% 3.2% 0px 0px;
  text-decoration: none;
  display: block;
  flex: 1 1 14.2857%;
  max-width: 14.2857%;
  min-width: 0px;
  box-sizing: border-box;
  cursor: pointer;
}

/* INFO */
.info-image
{
  width: 80%;
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 200px;
}

.info-image::before
{
  content: "";
  display: inline-block;
  padding-top: 80%;
}

#hero-info
{
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  max-width: 500px;
  display: flex;
  z-index: 10000002;
  padding: 1rem;
}

.button
{
  width: fit-content !important;
  display: block;
  background: #131313;
}

#hero-info .level-up-button,
.button
{
  background: #181818;
  width: fit-content;
  margin: 0 auto;
  padding: .5rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

#hero-info .level-up-button span,
.button span
{
  text-transform: uppercase;
  display: inline-block;
  white-space: nowrap;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 800;
  letter-spacing: 0.08em;
  text-overflow: ellipsis;
  font-style: italic;
  width: 100%;
  transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

#hero-info .level-up-button:hover span,
.button:hover span
{
  transform: translateX(10%);
}

#hero-info .level-up-button:hover,
.button:hover
{
  background: #111111;
}

#hero-info .level-costs
{
  width: fit-content;
  margin: 0 auto;
  margin-bottom: .2rem;
}

#hero-info .icon
{
  width: 2.2rem;
  display: inline-block;
  height: 10px;
}

#hero-info .level-costs span
{
  font-size: small;
  padding: 0px .5rem;
}

#hero-info .c-stat
{
  flex: 0 0 50%;
  padding: .2rem 1rem;
}

#hero-info .stat
{
  padding: .2rem 1rem;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
  background-color: #1E1E1E;
  border-radius: 10px;
  margin-bottom: .5rem;
}

#hero-info .hero-left
{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#hero-info .col-sm-6
{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

#hero-info .row
{
  flex: 1 1;
}

/* HEROES SLIDER */
.slider-heroes
{
  padding: 1rem;
  background-color: rgb(30, 30, 30);
  z-index: 10000002;
  position: fixed;
  height: calc((100vh - 100px) / 2);
  overflow-y: auto;
  overflow-x: hidden;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  transition: transform .3s cubic-bezier(0.215, 0.610, 0.355, 1);
  border-top: 1px solid rgba(255, 255, 255, 0.185);
}

.slider-heroes > div
{
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
  padding-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  height: 100%;
}

.slider-heroes > div > div
{
  display: block;
  flex: 1 1 10%;
  max-width: 10%;
  min-width: 0px;
  box-sizing: border-box;
  padding: 20px 20px 0px 0px;
}

.slider-heroes .image-container
{
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  background-size: calc(20% - .2px) calc(20% - .2px);
  background-color: #121212;
  cursor: pointer;
}

.slider-heroes .image-container::before
{
  content: "";
  display: inline-block;
  padding-top: 90%;
}

.slider-heroes.show
{
  transform: translateY(0%);
}

/* SUMMON */
#summons img
{
  height: calc(100vh - 100px);
  object-fit: cover;
  object-position: 0px 80%;
}

#summons .carousel
{
  margin: 0px -.75rem;
}

#summons h3,
#summons h1
{
  font-weight: bolder;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

#summons h5
{
  width: fit-content;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.637);
  padding: .5rem 1.5rem;
  border: 5px solid rgba(0, 0, 0, 0.452);
  border-top-color: rgba(0, 0, 0, 0.26);
  border-bottom-color: rgba(0, 0, 0, 0.678);
  border-radius: 5px;
}

#summons h1
{
  font-size: 3.5rem;
  -webkit-text-stroke-width: 4px;
}

#summons h3
{
  font-size: 2.5rem;
  
}

#summons .epic
{
  color: #be05bed7;
}

#summons .common
{
  color: #01bd01d7;
}

.carousel-caption.header
{
  top: 0px;
}

.c-summon-button
{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 1rem 0px;
}

.c-summon-button > div > span
{
  padding: 1px 1rem;
    padding-top: 1px;
    background: rgba(30, 30, 30, 0.966);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 5px solid #019601d7;
    border-top: none;
    border-bottom-color: #007c00d7;
    color: #dbdbdbde !important;
}

.c-summon-button > div:last-child > span
{
  border: 5px solid #940594d7;
  border-bottom-color: #740574d7;
}

.c-summon-button .icon
{
  padding-right: 2rem;
}

.c-summon-button > div
{
  margin: 0px 1rem;
  font-size: 1.25rem;
}

.c-summon-button > div:last-child > div
{
  cursor: pointer;
  padding: 1rem;
  border: 5px solid #be05bed7;
  border-top-color: #f129f1d7;
  border-bottom-color: #940594d7;
  background-color: rgba(30,30,30, 0.8);
  border-radius: 10px;
}

.c-summon-button > div:first-child > div
{
  cursor: pointer;
  padding: 1rem;
  border: 5px solid #01bd01d7;
  border-top-color: #1ee21ed7;
  border-bottom-color: #019601d7;
  background-color: rgba(30,30,30, 0.8);
  border-radius: 10px;
}

.icon,
.icon-sm
{
  position: relative;
}

.icon::after,
.icon-sm::after
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  content: "";
  display: inline-block;
  box-sizing: border-box;
  /* margin: 1rem; */
  height: 2rem;
  width: 2rem;
  background-size: cover;
  /* image-rendering: pixelated; */
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.icon-sm::after
{
  width: 1rem;
  height: 1rem;
}

.arena-icon::after,
[class~='inventory.arena-icon']::after
{
  background-image: url('./icons/arena.png');
}

.summon-icon::after,
[class~='inventory.summon-icon']::after
{
  background-image: url('./icons/summon.png');
}

.exp-icon::after,
[class~='inventory.exp-icon']::after
{
  background-image: url('./icons/exp.png');
}

.collect-icon::after,
[class~='inventory.collect-icon']::after
{
  background-image: url('./icons/collect.png');
}

.essence-icon::after,
[class~='inventory.essence-icon']::after
{
  background-image: url('./icons/essence.png');
}

.gems-icon::after,
[class~='inventory.gems-icon']::after
{
  background-image: url('./icons/gem.png');
}

.gold-icon::after,
[class~='inventory.gold-icon']::after
{
  background-image: url('./icons/gold.png');
}

.hero-idle-icon::after,
[class~='inventory.hero-idle-icon']::after
{
  background-image: url('./icons/hero-idle.png');
}

.hero-icon::after,
[class~='inventory.hero-icon']::after
{
  background-image: url('./icons/hero.png');
}

.inventory-icon::after,
[class~='inventory.inventory-icon']::after
{
  background-image: url('./icons/inventory.png');
}

.scroll-icon::after,
[class~='inventory.scroll-icon']::after
{
  background-image: url('./icons/scroll.png');
}

.settings-icon::after,
[class~='inventory.settings-icon']::after
{
  background-image: url('./icons/settings.png');
}

.elo-icon::after,
[class~='inventory.elo-icon']::after
{
  background-image: url('./icons/elo.png');
}

.tier-none
{
  background-image: linear-gradient(#bd011ad7 1px, transparent 1px), linear-gradient(90deg, #bd011ad7 1px, transparent 1px) !important;
}

.tier-1
{
  background-image: linear-gradient(#01bd01d7 1px, transparent 1px), linear-gradient(90deg, #01bd01d7 1px, transparent 1px) !important;
}


.tier-1::after
{
  border-color: #01bd01d7 !important;
}

.tier-2
{
  background-image: linear-gradient(#be05bed7 1px, transparent 1px), linear-gradient(90deg, #be05bed7 1px, transparent 1px) !important;
}


.tier-2::after
{
  border-color: #be05bed7 !important;
}

.tier-3
{
  background-image: linear-gradient(#777777 1px, transparent 1px), linear-gradient(90deg, #777777 1px, transparent 1px) !important;
}

.tier-3::after
{
  border-color: #777777 !important;
}

@media (min-width: 1140px)
{
  .question-none
  {
    font-size: 5rem !important;
  }
}


@media (max-width: 1000px)
{
  .c-heroes > div
  {
    flex: 1 1 25%;
    max-width: 25%;
    font-size: 18px;
  }

  .slider-heroes > div > div
  {
    flex: 1 1 12.5%;
    max-width: 12.5%;
    font-size: 3vw;
  }
}

@media (max-width: 767px)
{
  .c-team .image-container .question-none
  {
    font-size: 15vw;
  }
}

@media (max-width: 750px)
{  
  .c-heroes > div {
    flex: 1 1 33.3333%;
    max-width: 33.3333%;
    font-size: 16px;
  }

  .slider-heroes > div > div
  {
    flex: 1 1 20%;
    max-width: 20%;
    font-size: 3vw;
  }
}

@media (max-width: 520px)
{
  .c-heroes > div {
    flex: 1 1 50%;
    max-width: 50%;
    font-size: 3.5vw;
  }

  .slider-heroes > div > div
  {
    flex: 1 1 25%;
    max-width: 25%;
    font-size: 3vw;
  }

  .c-inventory
  {
    display: none !important;
  }

  #navbar-top
  {
    justify-content: center;
  }
}

@media (min-width: 640px)
{
  .c-heroes > div
  {
    padding: 20px 20px 0px 0px;
  }
}

@media (min-width: 600px)
{
  .c-heroes
  {
    padding: 0px 0px 0px 20px;
  }
}