html,body
{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.backdrop.show
{
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.356);
  z-index: 10000001;
}

.slider-right.show
{
  transform: translateX(0);
}

.slider-right
{
  transform: translateX(100%);
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.close-button
{
  position: absolute;
  left: 0;
  top: 0;
  width: 2rem;
  height: 2rem;
  background: rgb(236, 236, 236);
  margin: 1rem;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}

.close-button::before,
.close-button::after
{
  content: "";
  display: inline-block;
  width: 100%;
  height: 5px;
  background-color: #111111;
  cursor: pointer;
  position: absolute;
  top: 0;
}

.close-button::after
{
  transform:translateY(275%) rotate(45deg);
}

.close-button::before
{
  transform:translateY(275%) rotate(-45deg);
}

.container-fluid {
  /* padding-bottom: 60px; */
}

a
{
  text-decoration: none;
  color: inherit;
}

a:hover
{
  text-decoration: none;
}

/* PSEUDO-BODY */
.pseudo-body
{
  padding-top: 50px;
  padding-bottom: 50px;
  box-sizing: border-box;
}

/* NAVBAR */
.c-inventory li
{
  width: fit-content !important;
  padding-right: 1rem;
}

.c-inventory li span 
{
  display: inline-block;
  line-height: 48px;
}

.c-inventory .icon
{
  width: 48px;
  height: 48px;
}

#navbar-bottom,
#navbar-top
{
  height: 48px;
  width: 100%;
  position: fixed;
  left: 0px;
  right: 0px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  background: rgb(44, 44, 44);
  background: #111111;
  z-index: 1000001;
}

#navbar-top
{
  top: 0px;
  border-bottom: 2px solid rgba(51, 51, 51, 0.25);
}

#navbar-bottom
{
  bottom: 0px;
  border-top: 2px solid rgba(51, 51, 51, 0.25);
}

#navbar-bottom li,
#navbar-top li,
#navbar-bottom a,
#navbar-top a,
#navbar-bottom div,
#navbar-top div
{
  cursor: pointer;
  display: inline-block;
  line-height: 48px;
  width: 48px;
  height: 48px;
  text-align: center;
  transition: color 300ms cubic-bezier(0.06, 0.81, 0, 0.98);
  vertical-align: middle;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #F9F9F9;
  font-weight: bold;
}

#navbar-bottom li:hover,
#navbar-bottom a:hover,
#navbar-bottom div:hover,
#navbar-top li:hover,
#navbar-top a:hover,
#navbar-top div:hover
{
  background-color: rgb(26, 26, 26);
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

/* HOME */
.c-team
{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: calc((100vh - 100px) / 2);
  box-sizing: border-box;
  padding: 1rem;
  width: 45vh;
  margin: 0 auto;
}
.c-team li
{
  position: relative;
  width: 33.33%;
  height: 33.33%;
  position: relative;
  /* padding-left: 1rem; */
  padding-top: 1rem;
}

.empty div
{
  font-size: 3rem;
  color: rgb(94, 94, 94);
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgb(31, 31, 31);
  cursor: pointer;
}

/* HEROS */

.c-heroes
{
  padding: 0px 0px 0px 3.2%;
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0px auto;
}

.c-heroes .image-container
{
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  background: rgba(0, 183, 255, 0.253);
  /* background: #333; */
  background-image: linear-gradient(rgba(255, 255, 255, 0.7) .1em, transparent .1em), linear-gradient(90deg, rgba(255, 255, 255, 0.7) .1em, transparent .1em);
  background-size: 10% 10%;
}

.c-heroes .image-container::before
{
  content: "";
  display: inline-block;
  padding-top: 112%;
  background-color: blue;
}

.c-heroes .image-container::after
{
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 11%;
  padding-top: 11%;
  background-color: rgb(255, 255, 255);
  transition: transform 0.5s ease 0s;
  transform: translate(50%, -50%) rotate(45deg);
}

.c-heroes div:hover .image-container::after
{
  transform: translate(100%, -100%) rotate(45deg);
}

.c-heroes img,
.info-image img
{
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: scale3d(1.05, 1.05, 1);
  transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.c-heroes div:hover img
{
  transform: scale3d(1.001, 1.001, 1);
}

.c-heroes .name
{
  display: block;
  overflow: hidden;
  background-color: rgb(6, 28, 37);
  padding: 6% 8%;
  transition: background-color 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.c-heroes div:hover .name
{
  background-color: rgb(0, 102, 128);
}

.c-heroes div:hover .name span
{
  transform: translate(10px, 0px);
}

.c-heroes .name span
{
    text-transform: uppercase;
    display: inline-block;
    color: white;
    white-space: nowrap;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 800;
    letter-spacing: 0.08em;
    text-overflow: ellipsis;
    font-style: italic;
    width: 100%;
    transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.tier-1
{
  
}

.c-heroes > div
{
  transition-delay: 0ms;
  opacity: 1;
  transform: translate(0px, 0px);
  padding: 3.2% 3.2% 0px 0px;
  text-decoration: none;
  display: block;
  flex: 1 1 14.2857%;
  max-width: 14.2857%;
  min-width: 0px;
  box-sizing: border-box;
  cursor: pointer;
}

/* INFO */
.info-image
{
  width: 80%;
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 200px;
}

.info-image::before
{
  content: "";
  display: inline-block;
  padding-top: 80%;
}

#hero-info
{
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  max-width: 500px;
  display: flex;
  background-color: white;
  z-index: 10000002;
  padding: 1rem;
}

#hero-info .hero-left
{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#hero-info .col-sm-6
{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

#hero-info .row
{
  flex: 1 1;
}

/* HEROES SLIDER */
.slider-heroes
{
  background-color: white;
  z-index: 10000002;
  position: fixed;
  height: calc((100vh - 100px) / 2);
  overflow-y: scroll;
  overflow-x: hidden;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  transition: transform .3s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.slider-heroes.show
{
  transform: translateY(0%);
}

/* SUMMON */
#summons img
{
  height: calc(100vh - 100px);
  object-fit: cover;
  object-position: 0px 80%;
}

#summons .carousel
{
  margin: 0px -.75rem;
}

#summons h3,
#summons h1
{
  font-weight: bolder;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

#summons h5
{
  width: fit-content;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.637);
  padding: .5rem 1.5rem;
  border: 3px solid rgba(0, 0, 0, 0.678);
  border-radius: 20px;
}

#summons h1
{
  font-size: 3.5rem;
  -webkit-text-stroke-width: 4px;
}

#summons h3
{
  font-size: 2.5rem;
  
}

#summons .epic
{
  color: rgba(190, 5, 190, 0.843);
}

#summons .common
{
  color: #01bd01d7;
}

.carousel-caption.header
{
  top: 0px;
}

.c-summon-button
{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 1rem 0px;
}

.c-summon-button > div
{
  margin: 0px 1rem;
  font-size: 1.25rem;
}

.c-summon-button > div:last-child > div
{
  cursor: pointer;
  padding: 1rem;
  border: 5px solid rgba(190, 5, 190, 0.843);
  background-color: rgba(190, 5, 190, 0.473);
  border-radius: 10px;
}

.c-summon-button > div:first-child > div
{
  cursor: pointer;
  padding: 1rem;
  border: 5px solid #01bd01d7;
  background-color: rgba(1, 189, 1, 0.473);
  border-radius: 10px;
}

.icon,
.icon-sm
{
  position: relative;
}

.icon::after,
.icon-sm::after
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  content: "";
  display: inline-block;
  box-sizing: border-box;
  /* margin: 1rem; */
  height: 2rem;
  width: 2rem;
  background-size: cover;
  /* image-rendering: pixelated; */
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.icon-sm::after
{
  width: 1rem;
  height: 1rem;
}

.arena-icon::after
{
  background-image: url('./icons/arena.png');
}

.summon-icon::after
{
  background-image: url('./icons/summon.png');
}

.exp-icon::after
{
  background-image: url('./icons/exp.png');
}

.collect-icon::after
{
  background-image: url('./icons/collect.png');
}

.essence-icon::after
{
  background-image: url('./icons/essence.png');
}

.gem-icon::after
{
  background-image: url('./icons/gem.png');
}

.gold-icon::after
{
  background-image: url('./icons/gold.png');
}

.hero-idle-icon::after
{
  background-image: url('./icons/hero-idle.png');
}

.hero-icon::after
{
  background-image: url('./icons/hero.png');
}

.inventory-icon::after
{
  background-image: url('./icons/inventory.png');
}

.scroll-icon::after
{
  background-image: url('./icons/scroll.png');
}

.settings-icon::after
{
  background-image: url('./icons/settings.png');
}

@media (max-width: 1000px)
{
  .c-heroes > div
  {
    flex: 1 1 25%;
    max-width: 25%;
    font-size: 18px;
  }
}

@media (max-width: 750px)
{  
  .c-heroes > div {
    flex: 1 1 33.3333%;
    max-width: 33.3333%;
    font-size: 16px;
  }
}

@media (max-width: 520px)
{
  .c-heroes > div {
    flex: 1 1 50%;
    max-width: 50%;
    font-size: 3.5vw;
  }
}

@media (min-width: 640px)
{
  .c-heroes > div
  {
    padding: 20px 20px 0px 0px;
  }
}

@media (min-width: 600px)
{
  .c-heroes
  {
    padding: 0px 0px 0px 20px;
  }
}